html{
    height:100%;
    white:100%;
}
body{
    margin:0px;
    width: 100%;
    height: 100%;
    position: relative;
}
#edit{
    white:100%;
/*    height:100%;*/
    padding: 10px;
    outline: 0px solid transparent;
/*    background-color: rgb(240,240,250);*/
    overflow-y: scroll;
    display:block;
}
#space{
    margin-top:50%;
    white:100%;
    background-color:red;
}
#fontSize{
    padding:0px;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 20px;
    background-color: rgb(240,240,240);
    
    width: 80%;
    height: 40px;
    position: fixed;
    z-index: 99;
    /*先把xy移动到中心*/
    left: 50%;
    top: 50%;
    /*然后回移动一半*/
    margin-top: -20px;
    margin-left: -40%;
}
.fontSize{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 0 0 0;
    background-color: rgb(230,230,230);
    text-align: center;
    line-height:40px;
    font-size:20px;
    padding:0px;
}
#color_a{
    background-color:black;
}
#color_b{
    background-color:red;
}
#color_c{
    background-color:yellow;
}
#color_d{
    background-color:blue;
}
#color_e{
    background-color:green;
}











